@page
@model RS_CoreRazorContoso.Pages.HelloModel
@{
    ViewData["Title"] = "Hello";
}
    <header class=" = jumbotron">
        <h2> Hello Hasan and Rohail</h2>
        <p>
            This page will prompt the user to enter their name and click on a button. it will then say hello to the user.
        </p>
    </header>
    <section>
        <form>

        </form>
        </section>
